/* RESET UNIVERSAL MUITO MANEIRO */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #000;
    color: #fff;
    padding: 0.4em;
}

#relogio-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#fundo-relogio {
    width: 15rem;
    height: 15rem;
    background: #000;
    margin: auto;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display-relogio {
    background: #fff;
    width: 14rem;
    height: 14rem;
    border-radius: 40%;
    text-align: center;
    display: grid;
    align-items: center;
}

#timerText {
    font-size: 3em;
}

.btn-relogio {
    transition: ease 0.3s;
    background-color: #000;
    border: none;
    color: #fff;
    padding: 1vh;
    border-radius: 30px;
    cursor: pointer;
}

.btn-relogio:hover {
    transition: ease 0.3s;
    background-color: #fff;
    color: #000;
    border: 2px #000 solid;
    transform: scale(105%);
}

.btn-relogio:active {
    transition: 0.1s ease;
    background-color: #3a3a3a;
    color: #c4c4c4;
}

footer {
    display: flex-wrap;
    width: 100%;
    position: fixed;
    background: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    bottom:0;
}

#fundo-ajustes{
    background:#000;
    margin:auto;
    width:18rem;
    height:8rem;
    align-content: center;
    border-radius: 20px;
}

#display-ajustes{
    background:#fff;
    width:15rem;
    height:6rem;
    margin:auto;
    align-content: center;
    border-radius: 20px;
}

.ajuste-scroll{
    display:flex;
    justify-content: center;
    gap:10px;
    text-align: center;
}

#inputPausa{
    margin-right:0.8rem;
}

.ajustes-timer-container{
    margin-bottom:2.5rem;
}

/* esconder objedos */
.hide {
    display: none !important;
    visibility: hidden;
    content: "";
    background: transparent;
    width: 0;
    height: 0;
    border: none;
    color: transparent;
    position: absolute;
}

/* estilização de inputs ranges :) */

input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    width:50%;
    background:transparent;
    cursor:pointer;
}

input[type=range]:focus{
    outline:none;
}

input[type=range]::-webkit-slider-runnable-track {
    width:100%;
    height: 15px;
    background:#000000;
    border-radius:4px;
}

input[type=range]::-moz-range-track{
    width:100%;
    height:15px;
    background:#000000;
    border-radius:4px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    margin-top:-3.5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.8);
}

input[type=range]::-moz-range-thumb{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    margin-top:-3.5px;
}
